<% if (title) { %>
<h1><%= title %></h1>
<% } else {
    res.redirect('/')
} %>

<%- messages() %>

<% if (errors) { %>
  <ul class="notice">
 <% errors.array().forEach(error => { %>
   <li><%= error.msg %></li>
<%  }) %>
 </ul>
<% } %> 

<!-- I had to use google to figure out the patterns  -->
<form id="addInventory" action="/inv/add-inventory" method="post">
    <div>Classification:</div> <%- classification %>
    <div>Make must have 3 characters.<p>Vehicle Make: <input type="text" name="inv_make" id="invMake" required minlength="3" placeholder="Min of 3 characters" <% if(locals.inv_make) { %> value="<%= locals.inv_make %>" <% } %>></p></div>
    <div>Model must have 3 characters.<p>Vehicle Model: <input type="text" name="inv_model" id="invModel" required minlength="3" placeholder="Min of 3 characters" <% if(locals.inv_model) { %> value=" <%= locals.inv_model %>" <% } %>></p></div>
    <div>Year can only have numbers.<p>Vehicle Year: <label for="invYear"></label>
      <input type="text" name="inv_year" id="invYear" size="10" placeholder="4-digit year" required minlength="4" maxlength="4" pattern="^(19|20)\d{2}$" <% if(locals.inv_year) { %> value="<%= locals.inv_year %>" <% } %>>
</p></div>
    <p>Vehicle Description: <textarea name="inv_description" id="invDescription" required><% if(locals.inv_description){ %> { %>
        <%= locals.inv_description %><% } %></textarea>
    <div>Image Path<p>Vehicle Image: <input type="text" name="inv_image" id="invImage" size="30" required <% if( locals.inv_image) { %> value ="<%= locals.inv_image %>"<%} else{ %> value="/images/vehicles/no-image.png" <% } %> placeholder="/images/vehicles/no-image.png"></p></div>
    <div>Image Path<p>Vehicle Thumbnail: <input type="text" name="inv_thumbnail" id="invThumbnail" required <% if(locals.inv_model) { %> value ="<%= locals.inv_model %>"<%} else{ %> value="/images/vehicles/no-image-tn.jpg" <% } %> placeholder="/images/vehicles/no-image-tn.jpg"></div>
    <div>Price must have only numbers.<p>Vehicle Price:  <label for="invPrice">Price</label>
      <input type="text" name="inv_price" id="invPrice" size="10" placeholder="decimal or integer numbers only" required pattern="^[1-9]\d*(\.\d+)?$" <% if(locals.inv_price) { %> value="<%= locals.inv_price %>" <% } %>></p></div>
    <div>Miles must only have digits.<p>Vehicle Miles: <input type="text" name="inv_miles" id="invMiles" size="10" placeholder="digits only" required pattern="^\d+$" <% if(locals.inv_miles) {%> value="<%= locals.inv_miles %>" <% } %>></p></div>
    <div>Name must not have special characters.<p>Vehicle Color: <input type="text" name="inv_color" id="invColor" required <% if(locals.inv_color) { %> value="<%= locals.inv_color %>" <% } %>></p></div>
    <input type="submit" name="Add Classification">
    <input type="hidden" name="inv_id"
    <% if(locals.inv_id) { %> value="<%= locals.inv_id %>"
    <% } %>>
</form>