<% if (title) { %>
<h1><%= title %></h1>
<% } else {
    res.redirect('/')
} %>

<%- messages() %>

<%- classification %>

<% if (errors){ %>
    <ul class = "notice">
        <% errors.array().foreach (error => { %>
            <li><%= error.msg %></li>
    <%    }) %>
    </ul>
<% } %>

<!-- I had to use google to figure out the patterns  -->
<form id="editInventory" action="/inv/edit-inventory" method="post">
    <div>Name can not have speical characters.<p>Vehicle Make: <input type="text" name="inv_make" id="invMake" required value ="<%= locals.inv_make %>" pattern="/^[A-Za-z\s]+$/"></p></div>
    <div>Name must not speical characters.<p>Vehicle Model: <input type="text" name="inv_model" id="invModel" required value ="<%= locals.inv_model %>" pattern="/^[A-Za-z\s]+$/"></p></div>
    <div>Year can only have numbers.<p>Vehicle Year: <input type="text" name="inv_year" id="invYear" required value ="<%= locals.inv_year %>" pattern="^[a-zA-Z]+$"></p></div>
    <p>Vehicle Description: <input type="text" name="inv_description" id="invDescription" required value ="<%= locals.inv_description %>"></p>
    <div>Price must have only numbers.<p>Vehicle Price: <input type="text" name="inv_price" id="invPrice" required value ="<%= locals.inv_price %>" pattern="\d+(\.\d{9})?"></p></div>
    <div>Name must not have spaces or any speical characters.<p>Vehicle Miles: <input type="text" name="inv_miles" id="invMiles" required value ="<%= locals.inv_miles %>" pattern="/^[A-Za-z\s]+$/"></p></div>
    <div>Name must not have special characters.<p>Vehicle Color: <input type="text" name="inv_color" id="invColor" required value ="<%= locals.inv_color %>" pattern="/^[A-Za-z\s]+$/"></p></div>
    <input type="submit" name="Edit Classification" value="Update Vehicle">
</form>